* {
  box-sizing: border-box;
}

:root {
  font-family: Plus Jakarta Sans, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0 auto;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.margin-left-auto {
  margin-left: auto;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input[type='checkbox'] {
  accent-color: #635fc7;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 1rem;
  height: 1rem;
  border: 1px solid #2b2c37;
}

input[type='checkbox']:checked::before {
  content: '';
  display: block;
  position: absolute;
  text-align: center;
  height: 1rem;
  width: 1rem;
  left: 0;
  background-color: #635fc7;
  border-radius: 2px;
}

input[type='checkbox']:checked::after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="8" fill="white" viewBox="0 0 20 20"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
  display: block;
  position: absolute;
}

/* * Reference: https://css-tricks.com/almanac/properties/s/scrollbar/ */

::-webkit-scrollbar {
  width: 0.75em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}